.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #2c2727;
  opacity: 0.4;

  display: flex;
  justify-content: center;
  align-items: center;
}
