.section {
  padding: 40px 0;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 60px 0px;
  }
}

@media screen and (min-width: 1444px) {
  .section {
    padding: 80px 0px;
    background:
      url('../../images/background/back-right-side-contur.png') 100% -90%,
      url('../../images/background/back-right-side.png') 100% -90%;
    background-repeat: no-repeat;
  }
}

.consultationInfo {
  background:
    url('../../images/background/back-contur-mob.png') 5px 13px,
    url('../../images/background/back-mob.png') 13px 22px;
  background-repeat: no-repeat;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .consultationInfo {
    background:
      url('../../images/background/back-contur-mob@2x.png') 18px 18px,
      url('../../images/background/back-mob@2x.png') 27px 26px;
    background-repeat: no-repeat;
    background-size:
      256px 270px,
      240px 261px;
  }
}

@media screen and (min-width: 375px) {
  .consultationInfo {
    background:
      url('../../images/background/back-contur-mob.png') 5px 13px,
      url('../../images/background/back-mob.png') 13px 22px;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 375px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 375px) and (min-resolution: 192dpi),
  screen and (min-width: 375px) and (min-resolution: 2dppx) {
  .consultationInfo {
    background:
      url('../../images/background/back-contur-mob@2x.png') 5px 13px,
      url('../../images/background/back-mob@2x.png') 13px 22px;
    background-repeat: no-repeat;
    background-size:
      316px 330px,
      300px 321px;
  }
}

@media screen and (min-width: 768px) {
  .consultationInfo {
    background:
      url('../../images/background/back-contur-tab.png') 25px 25px,
      url('../../images/background/back-tab.png') 40px 42px;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .consultationInfo {
    background:
      url('../../images/background/back-contur-tab@2x.png') 25px 25px,
      url('../../images/background/back-tab@2x.png') 40px 42px;
    background-repeat: no-repeat;
    background-size:
      614px 663px,
      587px 646px;
  }
}

@media screen and (min-width: 1444px) {
  .consultationInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin-left: -120px;
    background:
      url('../../images/background/back-contur-desc.png') 65px 27px,
      url('../../images/background/back-desc.png') 80px 54px;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1444px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1444px) and (min-resolution: 192dpi),
  screen and (min-width: 1444px) and (min-resolution: 2dppx) {
  .consultationInfo {
    background:
      url('../../images/background/back-contur-desc@2x.png') 65px 27px,
      url('../../images/background/back-desc@2x.png') 80px 54px;
    background-repeat: no-repeat;
    background-size:
      614px 681px,
      587px 654px;
  }
}

.thumb {
  margin: 0 auto;
  margin-bottom: 16px;
}

@media screen and (min-width: 375px) {
  .thumb {
    width: 343px;
    height: 344px;
  }
}

@media screen and (min-width: 768px) {
  .thumb {
    width: 556px;
    height: 688px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1444px) {
  .thumb {
    min-width: 556px;
    height: 708px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1444px) {
  .content {
    width: 558px;
  }
}

.title {
  color: #2c2727;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 40px;
  }
}

@media screen and (min-width: 1444px) {
  .title {
    font-size: 48px;
    line-height: 1.16;
  }
}

.text {
  color: #414343;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
}

.problemsWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .problemsWrapper {
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
  }
}

.problems {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .problems {
    max-width: 332px;
  }
}

.problem {
  display: flex;
  align-items: center;
  gap: 16px;
}

.id {
  color: $green;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.21;
}

@media screen and (min-width: 768px) {
  .id {
    font-size: 32px;
    line-height: 1.25;
  }
}

.itemText {
  color: #2c2727;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
}
