.section {
  padding: 40px 0;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 60px 0px;
  }
}

@media screen and (min-width: 1444px) {
  .section {
    padding: 80px 0px;
    background:
      url('../../images/background/back-right-side-contur.png') 1135px -270px,
      url('../../images/background/back-right-side.png') 1147px -280px;
    background-repeat: no-repeat;
  }
}

.consultationInfo {
  background:
    url('../../images/background/back-contur-mob.png') 5px 13px,
    url('../../images/background/back-mob.png') 13px 22px;
  background-repeat: no-repeat;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .consultationInfo {
    background:
      url('../../images/background/back-contur-mob@2x.png') 18px 18px,
      url('../../images/background/back-mob@2x.png') 27px 26px;
    background-repeat: no-repeat;
    background-size:
      256px 270px,
      240px 261px;
  }
}

@media screen and (min-width: 375px) {
  .consultationInfo {
    background:
      url('../../images/background/back-contur-mob.png') 5px 13px,
      url('../../images/background/back-mob.png') 13px 22px;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 375px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 375px) and (min-resolution: 192dpi),
  screen and (min-width: 375px) and (min-resolution: 2dppx) {
  .consultationInfo {
    background:
      url('../../images/background/back-contur-mob@2x.png') 5px 13px,
      url('../../images/background/back-mob@2x.png') 13px 22px;
    background-repeat: no-repeat;
    background-size:
      316px 330px,
      300px 321px;
  }
}

@media screen and (min-width: 768px) {
  .consultationInfo {
    background:
      url('../../images/background/back-contur-tab.png') 25px 25px,
      url('../../images/background/back-tab.png') 40px 42px;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .consultationInfo {
    background:
      url('../../images/background/back-contur-tab@2x.png') 25px 25px,
      url('../../images/background/back-tab@2x.png') 40px 42px;
    background-repeat: no-repeat;
    background-size:
      614px 663px,
      587px 646px;
  }
}

@media screen and (min-width: 1444px) {
  .consultationInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin-left: -120px;
    background:
      url('../../images/background/back-contur-desc.png') 65px 27px,
      url('../../images/background/back-desc.png') 80px 54px;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1444px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1444px) and (min-resolution: 192dpi),
  screen and (min-width: 1444px) and (min-resolution: 2dppx) {
  .consultationInfo {
    background:
      url('../../images/background/back-contur-desc@2x.png') 65px 27px,
      url('../../images/background/back-desc@2x.png') 80px 54px;
    background-repeat: no-repeat;
    background-size:
      614px 681px,
      587px 654px;
  }
}

.thumb {
  margin: 0 auto;
  margin-bottom: 16px;
}

@media screen and (min-width: 375px) {
  .thumb {
    width: 343px;
    height: 344px;
  }
}

@media screen and (min-width: 768px) {
  .thumb {
    width: 556px;
    height: 688px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1444px) {
  .thumb {
    min-width: 556px;
    height: 708px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
  .img {
    object-fit: cover;
  }
}

@media screen and (min-width: 1444px) {
  .content {
    width: 558px;
  }
}

.title {
  color: var(--typography-black, #2c2727);
  font-family: 'Open Sans';
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 120% */
  letter-spacing: -0.6px;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .title {
    color: var(--typography-black, #2c2727);

    /* 768/h0-semibold */
    font-family: 'Open Sans';
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px; /* 120% */
    letter-spacing: -0.8px;
  }
}

@media screen and (min-width: 1444px) {
  .title {
    color: var(--typography-black, #2c2727);

    /* 1440/h0-semibold */
    font-family: 'Open Sans';
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 116.667% */
    letter-spacing: -0.96px;
  }
}

.text {
  color: var(--typography-grey-dark, #414343);

  /* 375/h4-regular */
  font-family: 'Open Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .text {
    color: var(--typography-grey-dark, #414343);

    /* 768/h4-regular */
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
  }
}

@media screen and (min-width: 1444px) {
  .text {
    color: var(--typography-grey-dark, #414343);

    /* 1440/h4-regular */
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
  }
}

.problemsWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .problemsWrapper {
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
  }
}

.problems {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .problems {
    max-width: 332px;
  }
}

.problem {
  display: flex;
  align-items: center;
  gap: 16px;
}

.id {
  color: var(--primary-green-dark, #1e5b2a);

  /* 375/h1-semibold */
  font-family: 'Open Sans';
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px; /* 121.429% */
}

@media screen and (min-width: 768px) {
  .id {
    color: var(--primary-green-dark, #1e5b2a);

    /* 768/h1-semibold */
    font-family: 'Open Sans';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 125% */
  }
}

@media screen and (min-width: 1444px) {
  .id {
    color: var(--primary-green-dark, #1e5b2a);

    /* 768/h1-semibold */
    font-family: 'Open Sans';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 125% */
  }
}

.itemText {
  color: var(--typography-black, #2c2727);

  /* 375/h4-semibold */
  font-family: 'Open Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
}

@media screen and (min-width: 768px) {
  .itemText {
    color: var(--typography-black, #2c2727);

    /* 768/h4-semibold */
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
  }
}
