.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 70px;
  z-index: -20;
  background-color: rgba(44, 39, 39, 0.4);
  transition: opacity 200ms $animation-time-function;
}
@include media(desktop) {
  .backdrop {
    display: none;
  }
}
