.testimonialsModal {
  max-width: 80%;
  margin: auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e0e0e0;
}

.closeButton {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 24px;
}

.cardsContainer {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  @media (max-width: 767.98px) {
    grid-template-columns: 1fr;
  }
}
