.testimonialsModal {
  position: relative;
  margin: auto;
  background-color: $white;
  border-radius: 8px;
  overflow: hidden;
  padding: 24px 16px;
  max-width: 343px;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  h2 {
    font-size: 20px;
    font-weight: 600;
  }
}
.closeButton {
  position: absolute;
  right: 16px;
  top: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.closeButton .icon {
  width: 24px;
  height: 24px;
}

.testimonialCardInModal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
  padding: 16px;
  border-radius: 16px;
  border: 1px solid $dark-green;
  height: 258px;
}
.textInModal {
  color: $typography-grey;
  font-size: 14px;
  line-height: 1.42;
}

.cardsContainer {
  display: grid;
  grid-gap: 16px 0;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  max-height: 270px;
}

@include media(tablet) {
  .testimonialsModal {
    padding: 40px;
    max-width: 689px;
  }
  .cardsContainer {
    max-height: 404px;
    grid-gap: 24px 0;
  }
  .closeButton {
    top: 40px;
    right: 40px;
  }
  .testimonialCardInModal {
    height: auto;
    width: 579px;
  }
  .cardsContainer {
    grid-template-columns: repeat(1, 579px);
    grid-gap: 24px;
    max-height: 554px;
  }
  .modalHeader {
    margin-bottom: 32px;
    h2 {
      font-size: 22px;
      font-weight: 600;
      line-height: 1.36;
    }
  }
}

@include media(desktop) {
  .testimonialsModal {
    padding: 80px;
    max-width: 1040px;
  }
  .testimonialCardInModal {
    gap: 16px;
    height: auto;
    padding: 24px;
    width: 413px;
  }
  .cardsContainer {
    grid-template-columns: repeat(2, 413px);
    grid-gap: 24px;
    max-height: 554px;
  }
}
