.testimonialsModal {
  width: 343px;
  height: 507px;
  background-color: $white;
  position: relative;
  padding: 24px 16px;
  border-radius: 8px;
  .svg {
    stroke: #1e5b2a;
    width: 24px;
    height: 24px;
    transition: stroke $animation-time-function $animation-duration;
  }
  .title {
    color: #2c2727;
    @include font(20, 28);
    font-weight: 600;
    margin-bottom: 16px;
  }
  .closeButton {
    border: none;
    outline: transparent;
    line-height: 0;
    background-color: transparent;
    position: absolute;
    top: 24px;
    right: 16px;
  }
  .cardsContainer {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  @include media(tablet) {
    width: 689px;
    height: 526px;
    padding: 40px;
    .title {
      margin-bottom: 32px;
      @include font(22, 30);
    }
    .closeButton {
      top: 40px;
      right: 40px;
    }
  }
  @include media(desktop) {
    width: 1040px;
    height: 772px;
    padding: 80px;
    .cardsContainer {
      row-gap: 24px;
    }
    .closeButton:hover .svg {
      stroke: #043e0f;
    }
    .title {
      @include font(24, 32);
    }
  }
  .scroll {
    max-height: 415px;

    padding-right: 22px;
    @include media(tablet) {
      & {
        max-height: 384px;
        padding-right: 30px;
      }
    }
    @include media(desktop) {
      & {
        max-height: 550px;
      }
    }
  }
}
