.navigation {
  display: none;
}

@include media(desktop) {
  .navigation {
    display: flex;
  }
  .navigationList {
    display: flex;
    align-items: flex-start;
    gap: 24px;
  }

  // Для hover,focus//
  .headerListItem {
    display: inline-block;
    padding: 8px;
  }
  .headerListLink {
    color: $typography-black;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: -0.32px;
    position: relative;
    text-decoration: none;
    transition: font-weight 0.2s ease-in-out;
    &:hover,
    &:focus {
      color: #1e5b2a;
      font-weight: 600;
    }
  }

  // isActive
  .active {
    position: relative;
    color: #1e5b2a;
    font-weight: 600;
  }
  .active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #1e5b2a;
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0 ease-in-out;
  }
}
