.navigation {
  display: none;
}
@include media(desktop) {
  .navigationList {
    display: flex;
    align-items: flex-start;
    gap: 24px;
  }
  .navigation {
    display: flex;
  }
  .headerListLink {
    padding: 8px 0;
    font-family: $main-font-family;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.32px;
    color: $primary-text-color;
    position: relative;
    transition: color 250ms linear;
  }

  .headerListLink:hover,
  .headerListLink:active,
  .headerListLink:focus {
    color: #1e5b2a;
    font-weight: 600;
  }

  .headerListLink::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #1e5b2a;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 250ms linear;
  }
  .headerListLink:focus::after,
  .headerListLink:active::after {
    transform: scaleX(1);
  }
}
