.mainBox {
  z-index: 100;
}
.mobileContainer {
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 16px;
  transform: translateY(0);
}
.open {
  transition: transform 0.3s ease-in-out;
}
.navigationList {
  display: flex;
  padding: 24px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}
.headerListLink {
  padding: 8px 0;
  font-family: $main-font-family;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.32px;
  color: #2c2727;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.headerListLink:hover,
.headerListLink:active,
.headerListLink:focus {
  color: #1e5b2a;
  font-weight: 600;
}

.headerListLink::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #1e5b2a;
  transform: scaleX(0);
  transition: transform 0 ease-in-out;
}

.headerListLink:hover::after,
.headerListLink:focus::after,
.headerListLink:active::after {
  transform: scaleX(1);
}

@include media(desktop) {
  .mobileMenuContainer {
    display: none;
  }
}
