.button_arrow {
  line-height: 0;
  border-radius: 8px;
  .svg {
    fill: #1e5b2a;
  }
  .buttonDisab {
    fill: #979797;
  }
  &:hover {
    background-color: rgba(223, 233, 225, 0.2);
  }
  &:active {
    background-color: rgba(223, 233, 225, 0.4);
  }
}

.swiper_nav_btns {
  position: absolute;
  // right: 0;
  left: 50%;
  display: flex;
  column-gap: 68px;
  z-index: 5;

  transform: translateX(-50%);
  @include media(tablet) {
    left: unset;
    bottom: unset;
    transform: translateX(0);
    right: 0px;
    column-gap: 58px;
  }
  @include media(desktop) {
    column-gap: 84px;
    right: 0px;
  }
}
