.item {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 8px;
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  margin-top: 1px;
  margin-bottom: 1px;
  background-color: #ffffff;
  cursor: pointer;
  transition:
    border $animation-duration $animation-time-function,
    margin $animation-duration $animation-time-function;
}
.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}
.title {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  color: #414343;
  transition: color $animation-duration $animation-time-function;
}
.btn {
  background-color: transparent;
  border: none;
  outline: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  transition: transform $animation-duration $animation-time-function;
}

.text {
  color: rgb(65, 67, 67);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
}
@include media(mobile) {
  .item {
    width: 321px;
  }
}
@include media(tablet) {
  .item {
    width: 658px;
  }
}
@include media(desktop) {
  .item {
    width: 558px;
  }
}
.activeItem {
  border: 2px solid #1e5b2a;
  margin: 0;
}
.activeBtn {
  transform: rotate(45deg);
}
.activeTitle {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  color: #1e5b2a;
}
