.item {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  transition: border 250ms linear;
  .titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
  }
  .title {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    color: #414343;
    transition: color 250ms linear;
  }
  .btn {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    transition: transform 250ms linear;
  }

  .text {
    color: rgb(65, 67, 67);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
  }
}
@include media(tablet) {
  .item {
    width: 658px;
    padding: 18px 16px;
  }
}
@include media(desktop) {
  .item {
    width: 558px;
  }
}
.activeItem {
  border-color: #1e5b2a;
}
.activeBtn {
  transform: rotate(45deg);
}
.activeTitle {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  color: #1e5b2a;
}
