.title {
  color: #2c2727;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 16px;

  @include media(tablet) {
    font-size: 40px;
  }

  @include media(desktop) {
    font-size: 48px;
    line-height: 1.16;
    margin-bottom: 24px;
  }
}
