.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.logo {
  fill: rgb(235, 109, 10);
  &:hover,
  &:focus,
  &:active {
    fill: rgb(235, 109, 10);
  }
}
.link {
  color: rgb(255, 255, 255);
  display: block;
  position: relative;
  &:hover,
  &:focus {
    color: rgb(255, 255, 255);
    font-weight: 500;
  }
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
  }
  &:focus::after,
  &:hover::after {
    transform: scaleX(1);
  }
}
.subTitle {
  display: none;
}
@include media(tablet) {
  .nav {
    flex-direction: row;
    gap: 81px;
    align-items: start;
  }
  .list {
    align-items: start;
    gap: 24px;
  }
  .subTitle {
    display: block;
    padding: 8px 0;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
  }
}
@include media(desktop) {
  .nav {
    gap: 252px;
  }
  .linkRev {
    width: 58px;
  }
}
