.wraperLastArticles {
}
.titleArticles {
  color: var(--typography-black, #2c2727);
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25; /* 125% */
  margin-bottom: 24px;
}

.button {
  margin: 0 auto;
  margin-bottom: 40px;
}
