.wraperLastArticles {
}
.titleArticles {
  color: var(--typography-black, #2c2727);
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25; /* 125% */
  margin-bottom: 24px;
}

.list {
  display: flex;
  column-gap: 24px;
  margin-bottom: 16px;
  @include media(tablet) {
    margin-bottom: 32px;
  }
}
.item {
  @include media(to-tablet) {
    &:not(:first-child) {
      display: none;
    }
  }

  @include media(to-desktop) {
    &:last-child {
      display: none;
    }
  }
  @include media(desktop) {
    .item {
      display: list-item;
    }
  }
}
