.section {
  padding-top: 24px;
  padding-bottom: 24px;

  @include media(tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: -120px;
  }
}

.title {
  color: #2c2727;
  font-family: $main-font-family;
  font-size: 30px;
  font-weight: 600;
  line-height: 0.83; /* 120% */
  letter-spacing: -0.02em;

  @include media(tablet) {
    font-family: $main-font-family;
    font-size: 40px;
    line-height: 0.83;
    letter-spacing: -0.02em;
  }

  @include media(desktop) {
    font-size: 48px;

    line-height: 0.86; /* 116.667% */
    letter-spacing: -0.01em;
    width: 588px;
  }
}

.accent {
  color: $primary-orange;
  font-family: $main-font-family;
  font-size: 30px;
  font-weight: 600;
  line-height: 0.83;
  letter-spacing: -0.02em;

  @include media(tablet) {
    font-size: 40px;
    line-height: 0.83;
    letter-spacing: -0.02em;
  }

  @include media(desktop) {
    font-size: 48px;
    line-height: 0.86;
    letter-spacing: -0.01em;
  }
}

.topText {
  margin-top: 16px;
  margin-bottom: 8px;

  color: $dark-gray;

  font-family: $main-font-family;
  font-size: 16px;
  line-height: 0.66; /* 150% */
  letter-spacing: -0.04em;

  //   тут не треба tablet/desktop
  @include media(desktop) {
    margin-top: 24px;
    margin-bottom: 16px;
  }
}

.bottomText {
  margin-bottom: 16px;
  color: $dark-gray;
  font-family: $main-font-family;
  font-size: 16px;
  line-height: 0.66; /* 150% */
  letter-spacing: -0.04em;

  @include media(tablet) {
    margin-bottom: 24px;
  }
}

.pictureWrapper {
  min-width: 343px;
  min-height: 343px;

  @include media(tablet) {
    min-width: 688px;
    min-height: 688px;
  }

  @include media(desktop) {
    min-width: 708px;
    min-height: 708px;
  }
}

.textWrapper {
  @include media(desktop) {
    width: 588px;
    margin-right: 24px;
  }
}

.aboutWrapper {
  @include media(desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.container {
  @include media(desktop) {
    padding-right: 0;
  }
}
