.wrapper {
  position: relative;
  border-radius: 16px;
  box-shadow: 0px 0px 20px 0px rgba(31, 31, 31, 0.1);
  padding: 16px;
  width: 100%;
  transition: border 250ms linear;
  background-color: $white;
  @include media(tablet) {
    width: 332px;
  }
  @include media(desktop) {
    width: 384px;
    padding: 24px;
  }

  .pictureWrapper {
    display: block;
    margin-bottom: 16px;
    border-radius: 8px;
    @include media(desktop) {
      margin-bottom: 24px;
    }
  }

  .list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  .date {
    color: #535353;
    @include font(14, 20);
    font-weight: 300;
  }
  .title {
    color: #1e5b2a;
    @include font(16, 24);
    font-weight: 600;
    letter-spacing: -0.02em;
    margin-bottom: 8px;
  }
  .BlogText {
    color: #414343;
    @include font(14, 20);
    font-weight: 300;
    margin-bottom: 16px;
  }
  .link {
    color: #414343;
    @include font(16, 24);
    letter-spacing: -0.02em;
    display: inline-block;
    cursor: pointer;

    transition:
      // transform 250ms linear,
      // color 250ms linear,
      font-weight 250ms linear;
  }
  &:hover .link {
    // transform: scale(1.04);
    // color: #1e1f1f;
    font-weight: 600;
  }
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 16px;
    border: 1px solid #1e5b2a;
    transition:
      border 250ms linear,
      box-shadow 250ms linear;
  }
  &:hover::after {
    border: 2px solid var(--primary-orange, #eb6d0a);
    box-shadow: 0px 0px 20px 0px rgba(31, 31, 31, 0.1);
  }
}
