.wrapper {
  box-sizing: border-box;
  border-radius: 16px;
  padding: 16px 0;
  width: 100%;
  border-radius: 16px;
  border: 1px solid $dark-green;
  transition:
    border #{$animation-duration} #{$animation-time-function},
    box-shadow #{$animation-duration} #{$animation-time-function};
  // padding $animation-duration $animation-time-function;

  background-color: $white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 456px;
  outline: none;

  .content {
    max-width: 311px;
  }

  &:hover,
  &:focus {
    padding: 15px 0;
    border: 2px solid $primary-orange;
    box-shadow: 0px 0px 20px 0px rgba(31, 31, 31, 0.1);
  }

  @include media(tablet) {
    max-width: 332px;

    .content {
      max-width: 300px;
    }
  }

  @include media(desktop) {
    max-width: 384px;
    height: 480px;
    padding: 24px 0;
    .content {
      max-width: 336px;
    }

    &:hover,
    &:focus {
      padding: 23px 0;
    }
  }

  .pictureWrapper {
    display: block;
    margin-bottom: 16px;
    border-radius: 8px;
    @include media(desktop) {
      margin-bottom: 24px;
    }
  }

  .list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  .date {
    color: $typography-grey;
    @include font(14, 20);
    font-weight: 300;
  }
  .title {
    color: $dark-green;
    @include font(16, 24);
    font-weight: 600;
    letter-spacing: -0.02em;
    margin-bottom: 8px;
  }
  .BlogText {
    color: $dark-gray;
    @include font(14, 20);
    font-weight: 300;
    margin-bottom: 16px;
  }

  .link {
    color: $dark-gray;
    @include font(16, 24);
    letter-spacing: -0.02em;
    display: inline-block;
    // cursor: pointer;

    transition: font-weight $animation-duration $animation-time-function;
  }

  &:hover .link,
  &:focus .link {
    font-weight: 600;
  }
}
