.address {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.subTitle {
  display: none;
}
.tell {
  color: #fff;
  transition: font-weight 100ms $animation-time-function;
  font-style: normal;
  &:hover,
  &:focus {
    color: #fff;
    font-weight: 600;
  }
}
.list {
  display: flex;
  align-items: center;
  gap: 12px;
}
.icon {
  fill: #fff;
  transition: fill 200ms $animation-time-function;
}

@include media(tablet) {
  .address {
    gap: 20px;
    align-items: start;
  }
  .subTitle {
    display: block;
    color: #fff;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    padding: 8px 0;
  }
}
@include media(desktop) {
  .telegram:hover,
  .telegram:focus {
    fill: #2aabee;
  }
  .facebook {
    display: inline-block;
    height: 32px;
    border-radius: 8px;
    width: 32px;
    transition: background-color $animation-duration $animation-time-function;
    &:hover,
    &:focus {
      height: 32px;
      border-radius: 8px;
      width: 32px;
      background-color: #3d5a98;
    }
  }
  .youtybe {
    transition: fill $animation-duration $animation-time-function;
    &:hover,
    &:focus {
      fill: #ff0000;
    }
  }
}
