.wraperQuote {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 40px 0;
  justify-content: center;
  position: relative;
}
.quote {
  margin: 0 auto 16px auto;

  @include media(tablet) {
    padding: 0;
    margin-bottom: 16px;
  }
  @include media(desktop) {
    justify-content: center;
  }
}

.wrapContent {
}
.content {
  width: 227px;
  margin-bottom: 16px;
  color: var(--primary-green-dark, #1e5b2a);
  text-align: center;
  font-family: 'Open Sans';
  font-size: 22px;
  font-style: italic;
  line-height: 1.36; /* 136.364% */
  @include media(tablet) {
    width: 572px;
  }
  @include media(desktop) {
    width: 720px;
    font-size: 24px;
    line-height: 1.33;
  }
}
.accent {
  color: var(--primary-orange, #eb6d0a);
  text-align: center;
  font-family: 'Open Sans';
  font-size: 22px;
  font-style: italic;
  line-height: 1.36px; /* 136.364% */
  @include media(desktop) {
    font-size: 24px;
    line-height: 1.33;
  }
}
.wrapAuthor {
}
.author {
  color: var(--typography-black, #2c2727);
  text-align: center;
  font-family: 'Open Sans';
  font-size: 18px;
  font-style: italic;
  line-height: 1.333; /* 133.333% */
  @include media(tablet) {
    font-size: 22px;
  }
  @include media(desktop) {
    font-size: 24px;
    line-height: 1.33;
  }
}

.textEl {
  color: var(--primary-green-dark, #1e5b2a);
  font-family: Orienta;
  font-size: 78px;
  line-height: 0.6923; /* 69.231% */
}

.wrapElLeft {
  position: absolute;
  left: 0;
  top: 20px;

  @include media(desktop) {
    left: -60px; /* Відстань від лівого краю дива */
  }
}

.wrapElRight {
  position: absolute;
  bottom: 80px;
  right: 0px;
  @include media(desktop) {
    // bottom: 100px;
    right: -60px;
  }
}
