.modal {
  background-color: #fff;
  overflow: auto;
  border-radius: 8px;
}
.container {
  height: 60vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 26px;
  @include media(tablet) {
    padding: 16px;
    padding: 40px;
    height: 80vh;
    width: auto;
  }
  @include media(desktop) {
    padding: 26px;
  }
}
.imgWrap {
  height: 100%;
  width: auto;
  overflow: hidden;
  @include media(tablet) {
    // height: 90vh;
  }

  @include media(desktop) {
    // height: 90vh;
  }
}

.btnClose {
  display: block;
  position: absolute;
  top: 0px;
  right: 10px;
  width: 18px;
  height: 18px;

  stroke: #1e5b2a;

  &:hover {
    stroke: #043e0f;
  }
  @include media(tablet) {
    width: 24px;
    height: 24px;
    top: 2px;
    right: 6px;
  }
}
