.modal {
  background-color: #fff;
  overflow: auto;
  border-radius: 8px;
}
.container {
  height: 85vh;
  display: flex;
  justify-content: center;
  // flex-direction: column;
  align-items: center;
  position: relative;
  padding: 16px;
  // padding: 25px 15px 10px 15px;
  @include media(tablet) {
    // padding: 20px 20px 10px 20px;
    padding: 40px;
  }
  @include media(desktop) {
    // padding: 80px;
    // padding: 30px 20px 10px 20px;
  }
}
.imgWrap {
  height: 100%;
  width: auto;
  // display: flex;
  // justify-content: center;
  overflow: hidden;
  @include media(tablet) {
    // height: 90vh;
  }

  @include media(desktop) {
    // height: 90vh;
  }
}

.btnClose {
  display: block;
  position: absolute;
  top: 4px;
  right: 4px;
  width: 24px;
  height: 24px;

  stroke: #1e5b2a;

  &:hover {
    stroke: #043e0f;
  }
}
