.thumb {
  margin: 0 auto;
  margin-bottom: 16px;
  position: relative;
}

@media screen and (min-width: 375px) {
  .thumb {
    width: 271px;
    height: 344px;
  }
}

@media screen and (min-width: 768px) {
  .thumb {
    width: 543px;
    height: 688px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .thumb {
    min-width: 558px;
    height: 708px;
    margin-bottom: 0;
    margin-left: 105px;
  }
}
