.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 100px;
  background-color: $dark-green;
  color: $white;
  width: 100%;
  height: 48px;

  font-size: 14px;
  font-weight: 600;
  line-height: 1.42;

  transition:
    background-color 250ms linear,
    font-weight 250ms linear;

  &:hover,
  &:focus {
    background-color: $dark-green-hover;
    font-weight: 700;
  }

  @include media(mobile) {
    width: 343px;
  }

  @include media(tablet) {
    width: 332px;
  }

  @include media(desktop) {
    width: 242px;
  }
}
