$light-blue: lightblue;
$green: green;
$dark-green: #1e5b2a;
$dark-green-hover: #043e0f;
$light-green: #6ca24a;
$light-green-hover: #467927;
$dark: darkblue;
$red: red;
$primary-text-color: #212121;
$light-grey: #979797;
$white: #ffffff;
$dark-gray: #414343;
$typography-black: #2c2727;
$typography-grey-dark: #414343;
$primary-orange: #eb6d0a;
$typography-grey: #535353;
