.footer {
  background-color: #1e5b2a;
  padding-top: 32px;
  padding-bottom: 24px;
}
.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
@include media(tablet) {
  .footer {
    padding: 40px 0;
  }
  .footerContainer {
    flex-direction: row;
    gap: 180px;
    align-items: start;
  }
}
@include media(desktop) {
  .footer {
    padding: 40px 0;
  }
  .footerContainer {
    gap: 348px;
  }
}
