.description {
  @include font(16, 24);
  color: $typography-grey-dark;
  letter-spacing: -0.02em;

  @include media(tablet) {
    width: 690px;
  }
}
.title {
  @include font(30, 36);
  color: $typography-black;
  font-weight: 600;
  letter-spacing: -0.02em;
  margin-bottom: 8px;

  @include media(tablet) {
    @include font(40, 48);
  }
  @include media(desktop) {
    @include font(48, 56);
    margin-bottom: 16px;
  }
}
