.list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 16px;
  margin-bottom: 16px;

  @include media(tablet) {
    margin-top: 24px;
    margin-bottom: 24px;
    gap: 24px;
  }
  @include media(desktop) {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
