.slide {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 57.5px;
  padding-right: 57.5px;
  display: block;
  border-radius: 16px;
  border: 1px solid $dark-green;
  margin-right: 0px;
  @include media(tablet) {
    padding-left: 52px;
    padding-right: 52px;
  }

  @include media(desktop) {
    padding: 24px;
  }
}

.sliderText {
  color: $typography-black;
  font-family: $main-font-family;
  font-weight: 600px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: -0.04em;
}

.frame {
  height: 351px;
  width: auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 16px;

  @include media(desktop) {
    margin-bottom: 24px;
    height: 406px;
  }
}

.picture {
  height: 100%;
  width: auto;
}
