.wraperQuote {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 40px 0 40px 0;
}
.quote {
  display: flex;
  margin-bottom: 16px;
  justify-content: space-between;
}

.wrapContent {
}
.content {
  width: 227px;

  color: var(--primary-green-dark, #1e5b2a);
  text-align: center;
  font-family: 'Open Sans';
  font-size: 22px;
  font-style: italic;
  line-height: 1.36; /* 136.364% */
  @include media(tablet) {
    width: 572px;
  }
  @include media(desktop) {
    width: 720px;
    font-size: 24px;
    line-height: 1.33;
  }
}

.wrapAuthor {
}
.author {
  color: var(--typography-black, #2c2727);
  text-align: center;
  font-family: 'Open Sans';
  font-size: 18px;
  font-style: italic;
  line-height: 1.333; /* 133.333% */
  @include media(tablet) {
    font-size: 22px;
  }
  @include media(desktop) {
    font-size: 24px;
    line-height: 1.33;
  }
}

.textEl {
  color: var(--primary-green-dark, #1e5b2a);
  font-family: Orienta;
  font-size: 78px;
  line-height: 0.6923; /* 69.231% */
}
.wrapEl {
  display: flex;
  align-items: flex-end;
}
