.cartion {
  color: var(--primary-green-dark, #1e5b2a);
  text-align: left;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.21; /* 121.429% */
  margin-top: 16px;
  margin-bottom: 40px;

  @include media(tablet) {
    margin-bottom: 60px;
    font-size: 32px;
    margin-top: 24px;
  }
  @include media(desktop) {
    margin-bottom: 40px;
    font-size: 34px;
  }
}
