.swiper__container {
  width: 100%;
  height: 100%;
}

.swiper__wraper {
  display: flex;
  flex-wrap: nowrap;
}

.swiper__slide {
  width: 100%;
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.swiper__pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.swiper__buttonNext,
.swiper__buttonPrev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;

  &.swiper-button-next {
    right: 10px;
  }

  &.swiper-button-prev {
    left: 10px;
  }
}
