.link {
  border-radius: 100px;
  background-color: #6ca24a;
  display: flex;
  padding: 14px 8px;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #ffffff;
  margin-top: 8px;
  transition:
    background-color 250ms linear,
    font-weight 250ms linear;
  @include font(14, 20);
  font-weight: 600;
  outline: transparent;
  &:hover,
  &:focus {
    background-color: #467927;
    color: #ffffff;
    font-weight: 700;
  }

  @include media(tablet) {
    width: 332px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }

  @include media(desktop) {
    width: 153px;
    margin-left: 0;
    margin-right: 0;
    padding: 8px;
  }
}
