.title {
  color: $typography-black;
  font-weight: 600;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
  @include font(30, 36);

  @include media(tablet) {
    @include font(40, 48);
  }

  @include media(desktop) {
    margin-bottom: 16px;

    @include font(48, 56);
  }
}

.description {
  color: $dark-gray;
  letter-spacing: -0.02em;
  @include font(16, 24);

  @include media(tablet) {
    width: 690px;
  }
}
