.testimonials {
  padding: 40px 0;
  @include media(tablet) {
    padding: 60px 0;
  }
  @include media(desktop) {
    padding: 80px 0;
  }
}
// .navigationTop {
//   margin-bottom: 16px;
// }
.title {
  color: $typography-black;
  @include font(30, 36);
  // font-size: 30px;
  font-weight: 600;
  // line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
}
// .cardsContainer {
//   display: flex;
//   margin-bottom: 16px;
// }

@include media(tablet) {
  // .navigationTop {
  //   // display: flex;
  //   // flex-direction: row;
  //   // gap: 26px;
  //   // margin-bottom: 24px;
  //   // justify-content: space-between;
  // }
  .title {
    font-size: 40px;
    // letter-spacing: -0.02em;
    margin-bottom: 24px;
  }
  // .cardsContainer {
  //   margin-bottom: 24px;
  //   flex-direction: row;
  //   justify-content: center;
  //   gap: 24px;
  // }
}

@include media(desktop) {
  // .navigationTop {
  //   margin-bottom: 32px;
  // }
  .title {
    @include font(48, 56);
    // font-size: 48px;
    // line-height: 1.17;
    // letter-spacing: -0.025em;
    margin-bottom: 32px;
  }
  // .cardsContainer {
  //   margin-bottom: 32px;
  // }
}
// ============================
.buttonContainer {
  @include media(tablet) {
    top: -72px;
  }
  @include media(desktop) {
    top: -88px;
  }
}
.swiperContainer {
  margin-bottom: 56px;
  @include media(tablet) {
    margin-bottom: 72px;
  }
  @include media(desktop) {
    margin-bottom: 88px;
  }
}
.pagination {
  bottom: -40px;
  @include media(tablet) {
    bottom: -48px;
  }
  @include media(desktop) {
    bottom: -56px;
  }
}
