.testimonials {
  padding: 40px 0;
  @include media(tablet) {
    padding: 60px 0;
  }
  @include media(desktop) {
    padding: 80px 0;
  }
}

.title {
  color: $typography-black;
  @include font(30, 36);
  font-weight: 600;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
}

@include media(tablet) {
  .title {
    font-size: 40px;
    margin-bottom: 24px;
  }
}

@include media(desktop) {
  .title {
    @include font(48, 56);
    margin-bottom: 32px;
  }
}

.buttonContainer {
  @include media(tablet) {
    top: -72px;
  }
  @include media(desktop) {
    top: -88px;
  }
}
.swiperContainer {
  margin-bottom: 56px;
  @include media(tablet) {
    margin-bottom: 72px;
  }
  @include media(desktop) {
    margin-bottom: 88px;
  }
}
.pagination {
  bottom: -40px;
  @include media(tablet) {
    bottom: -48px;
  }
  @include media(desktop) {
    bottom: -56px;
  }
}
.loderWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 215px 0 219px;
  @include media(tablet) {
    padding: 215px 0 215px;
  }
  @include media(desktop) {
    padding: 190px 0 190px;
  }
}
.svg {
  fill: #1e5b2a;
  height: 670px;
  width: 249px;
  left: 0;
  top: -260px;
}
.svgL {
  stroke: #1e5b2a;
  height: 692px;
  width: 262px;
  left: 0;
  top: -270px;
}
