.contentsWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .contentsWrapper {
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
  }
}
