.text {
  color: #414343;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

.text:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1444px) {
  .text:not(:last-child) {
    margin-bottom: 16px;
  }
}
