.footer {
  background-color: #000;
  padding: 16px 0;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
.text {
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
}
.link {
  color: #fff;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.32px;
  position: relative;
  transition: font-weight $animation-duration $animation-time-function;
  &:hover {
    color: rgba(255, 255, 255);
    font-weight: 600;
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #fff;
  }
}
@include media(tablet) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }
}
