.playerWrapper {
  border-radius: 16px;
  overflow: hidden;

  height: 240px;

  @include media(tablet) {
    width: 688px;
    height: 400px;
  }

  @include media(desktop) {
    width: 1200px;
    height: 580px;
  }
}
