.section {
  padding: 40px 0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.imgContainer {
  width: 100%;
}
.title {
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -2%;
  color: #2c2727;
  margin-bottom: 16px;
}
@include media(tablet) {
  .section {
    padding: 60px 0;
  }
  .container {
    gap: 24px;
  }
  .title {
    font-size: 40px;
    margin-bottom: 24px;
  }
}

@include media(desktop) {
  .section {
    padding: 80px 0;
  }
  .imgContainer {
    position: relative;
    width: 588px;
    height: 708px;
    overflow: hidden;
    border-radius: 16px;
  }
  .img {
    position: absolute;
    height: 708px;
    width: 708px;
    top: 0;
    left: -120px;
  }
  .container {
    flex-direction: row;
    justify-content: start;
  }
  .title {
    font-size: 48px;
    margin-bottom: 32px;
  }
}
