.section {
  padding: 40px 0;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 60px 0px;
  }
}

@media screen and (min-width: 1444px) {
  .section {
    padding: 80px 0px;
    background:
      url('../../images/background/back-right-side-contur.png') 100% -90%,
      url('../../images/background/back-right-side.png') 100% -90%;
    background-repeat: no-repeat;
  }
}
