.card {
  position: relative;
  box-sizing: border-box;
  padding: 62px 16px 16px;
  border-radius: 16px;
  border: 1px solid $dark-green;
  background-color: $white;
  .svg {
    width: 23px;
    height: 38px;
    position: absolute;
    top: 16px;
    left: 16px;
  }
  .text {
    color: #414343;
    @include font(14, 20);
    letter-spacing: -0.02em;
    margin-bottom: 8px;
  }

  .limit {
    height: 241px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    margin-bottom: 0;
  }
  .footer {
    color: #1e5b2a;
    text-align: right;
    @include font(16, 24);
    letter-spacing: -0.02em;
  }
  @include media(tablet) {
    .limit {
      height: 224px;
      -webkit-line-clamp: 9;
    }
    .svg {
      top: 14px;
      left: 24px;
    }
  }
  @include media(desktop) {
    .text {
      margin-bottom: 16px;
    }
    padding: 78px 24px 24px;
    .limit {
      height: 128px;
      -webkit-line-clamp: 5;
    }
    .svg {
      top: 20px;
      left: 24px;
    }
  }
}
.cardLimit {
  height: 343px;
  max-width: 343px;

  .text {
    margin-bottom: 0;
    @include font(16, 24);
  }

  @include media(tablet) {
    max-width: 332px;
    padding: 70px 24px 24px;
    .svg {
      top: 22px;
      left: 24px;
    }
  }
  @include media(desktop) {
    max-width: 588px;
    height: 246px;
    .text {
      margin-bottom: 0;
    }
  }
}
