.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
  padding: 16px;
  border-radius: 16px;
  border: 1px solid $dark-green;
  background-color: #ffffff;
}
.quote {
  width: 23px;
  height: 38px;
  color: $dark-green;
  font-size: 64px;
  line-height: 1.12;
}
.text {
  color: $dark-gray;
  line-height: 1.5;
  letter-spacing: -0.02em;
}
.footer {
  color: $dark-green;
  margin-left: auto;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

@include media(tablet) {
  .card {
    padding: 24px;
    max-width: 332px;
  }
}

@include media(desktop) {
  .card {
    max-width: 588px;
  }
}
