.scrollBar {
  max-height: 270px;
  overflow-y: auto;
  padding-right: 22px;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: rgb(223, 223, 223);
    border-radius: 100px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: rgb(108, 162, 74);
  }
}
@include media(tablet) {
  .scrollBar {
    max-height: 384px;
    padding-right: 30px;
  }
}
@include media(desktop) {
  .scrollBar {
    max-height: 550px;
  }
}
