.link {
  border-radius: 100px;
  background-color: #6ca24a;
  display: flex;
  padding: 14px 8px;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #ffffff;
  transition: background-color 250ms linear;
  @include font(14, 20);
  font-weight: 600;
  outline: transparent;

  @include media(tablet) {
    width: 332px;
    margin-left: auto;
    margin-right: auto;
  }
  @include media(desktop) {
    width: 242px;
    &:hover,
    &:focus {
      background-color: #467927;
      color: #ffffff;
    }
  }
}
