.link {
  border-radius: 100px;
  background-color: $light-green;
  display: flex;
  padding: 14px 8px;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: $white;
  transition:
    background-color $animation-duration $animation-time-function,
    font-weight $animation-duration $animation-time-function;

  @include font(14, 20);
  font-weight: 600;
  outline: transparent;

  &:hover,
  &:focus {
    background-color: $light-green-hover;
    color: $white;
    font-weight: 700;
  }

  @include media(tablet) {
    width: 332px;
    margin-left: auto;
    margin-right: auto;
  }

  @include media(desktop) {
    width: 242px;
  }
}
