header {
  position: sticky;
  z-index: 100;
  width: 100%;
  top: 0;
  background-color: #ffffff;
}
.headerSrolled {
  border-bottom: 1px solid #1e5b2a;
  width: 100%;
}
.headerWrapper {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
