.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 24px;
  align-items: center;
}
.label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: start;
  width: 100%;
  position: relative;
}

.titleInput {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #414343;
  position: relative;
}
.iconStar {
  fill: #961c1c;
  position: absolute;
  top: -1px;
  right: -10px;
}
.input {
  border-radius: 8px;
  border: 1px solid #dfdfdf;
  background: transparent;
  height: 40px;
  width: 100%;
  padding: 0 8px;
  color: #2c2727;
  outline: transparent;
  transition: border $animation-duration $animation-time-function;
  &:hover,
  &:focus {
    border-color: #979797;
  }
}
.textarea {
  border-radius: 8px;
  border: 1px solid #dfdfdf;
  background: transparent;
  height: 168px;
  width: 100%;
  color: #2c2727;
  padding: 10px 8px;
  outline: transparent;
  resize: none;
  transition: border $animation-duration $animation-time-function;
  &:hover,
  &:focus {
    border-color: #979797;
  }
}
.valueLength {
  color: #2c2727;
  font-size: 10px;
  font-style: normal;
  line-height: 10px;
  position: absolute;
  right: 0px;
  bottom: -14px;
  display: flex;
  align-items: center;
  gap: 0;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 100px;
  background-color: #1e5b2a;
  color: #fff;
  width: 100%;
  height: 48px;
  transition: background-color $animation-duration $animation-time-function;
  &:hover,
  &:focus {
    background-color: #043e0f;
  }
}
.error {
  border-color: #961c1c;
}
@include media(tablet) {
  .form {
    width: 292px;
    gap: 38px;
  }
  .input {
    width: 292px;
  }
}
@include media(desktop) {
  .form {
    width: 428px;
    height: 428px;
    display: grid;
    grid-template-columns: 202px 202px;
    grid-template-rows: 78px 168px 48px;
    row-gap: 40px;
    column-gap: 16px;
  }
  .input {
    width: 202px;
  }
  .textarea {
    width: 428px;
  }
  .valueLength {
    right: -110%;
  }
  .btn {
    grid-column-start: 1;
    grid-column-end: 1;
    width: 242px;
    margin-top: 8px;
  }
}
