.ability {
  display: flex;
  align-items: center;
  gap: 16px;
}

.abylityId {
  color: $dark-green;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.21;

  @include media(tablet) {
    font-size: 32px;
    line-height: 1.25;
  }

  @include media(desktop) {
    font-size: 34px;
    line-height: 1.25;
  }
}

.abilityText {
  color: $typography-black;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
}
